[collection reviews]
handle = "Reviews\Review"
==
<div class="container-fluid py-5 overflow-hidden" id="partners">
    <div class="container-lg py-xl-5">
        <h2 class="text-uppercase text-center mb-4 mb-xl-5">
            spolupracujeme s řadou firem i jednotlivců
        </h2>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-4">
            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>

            <div class="col">
                <img src="{{ 'assets/images/partners/logo-default.png'|theme }}" alt="Logo" class="img-fluid">
            </div>
        </div>

        <div class="swiper reviews-swiper mt-5">
            <div class="swiper-wrapper">
                {% for review in reviews %}
                    <div class="swiper-slide align-self-center pb-5 pb-md-0">
                        <div class="fs-20 text-black col col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
                            <p class="mb-4 fst-italic text-center">
                                “{{ review.content }}”
                            </p>

                            <p class="mb-0 text-center">
                                <span class="fw-bold">{{ review.name }} {{ review.surname }}</span> <br>
                                {{ review.job }} ve {{ review.company }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="swiper-button-next d-none d-md-flex"></div>
            <div class="swiper-button-prev d-none d-md-flex"></div>

            <div class="swiper-pagination d-md-none"></div>
        </div>
    </div>
</div>
