{% for item in items %}
    {% if not item.viewBag.isHidden %}
        <li role="presentation" class="nav-item {{ item.viewBag.cssClass }}">
            {% if item.url %}
                <a href="{{ item.url }}" {{ item.viewBag.isExternal ? 'target="_blank"' }} class="nav-link text-uppercase text-center {{ item.isActive ? 'active' : '' }} {{ item.isChildActive ? 'child-active' : '' }}">
                    {{ item.title }}
                </a>
            {% else %}
                <span>{{ item.title }}</span>
            {% endif %}

            {% if item.items %}
                <div class="submenu">
                    <ul class="nav nav-pills flex-column gap-3">
                        {% partial __SELF__ ~ "::items" items=item.items %}
                    </ul>
                </div>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
