url = "/kurz/:slug"
layout = "default"
title = "Kurz"
seoOptionsMetaTitle = "{{ seminar.meta_title }}"
seoOptionsMetaDescription = "{{ seminar.meta_description }}"
seoOptionsEnabledInSitemap = 1
seoOptionsUseUpdatedAt = 1
seoOptionsRobotIndex = "index"
seoOptionsRobotFollow = "follow"
seoOptionsOgCard = "summary_large_image"

[section seminar]
handle = "Seminars\Seminar"
entrySlug = "{{ :slug }}"
==
<div class="container-fluid pt-5 overflow-hidden" id="seminar">
    <div class="container-lg pt-xl-5">
        <h1 class="text-uppercase mb-4">
            {{ seminar.heading ?: seminar.title }}
        </h1>

        {% if seminar.youtube %}
            <div class="ratio ratio-16x9 mb-4 mb-xl-5">
                {{ seminar.youtube|raw }}
            </div>
        {% endif %}

        <div class="richeditor">
            {{ seminar.content|raw }}
        </div>

        <div class="mt-5 pt-xl-5">
            <p class="mb-0 text-center">
                {% if seminar.slug == "teambuilding" %}
                    <a href="{{ 'contact-us'|page }}" class="btn btn-blue btn-lg text-uppercase w-100 w-sm-auto">
                        kontaktujte nás
                    </a>
                {% else %}
                    <a href="{{ 'seminar-free-dates'|page({slug: seminar.slug}) }}" class="btn btn-blue btn-lg text-uppercase w-100 w-sm-auto">
                        volné termíny
                    </a>
                {% endif %}
            </p>
        </div>
    </div>

    <div class="mt-5 pt-xl-5 gallery mx-n3">
        <div class="row row-cols-1 g-0 row-cols-sm-2">
            {% for image in seminar.images %}
                <div class="col">
{#                    <img src="{{ image.thumb(961, 640, {mode: 'crop'}) }}" alt="{{ image.title }}" class="img-fluid">#}
                    <img src="{{ image.thumb(1400, 932, {mode: 'crop'}) }}" alt="{{ image.title }}" class="img-fluid">
                </div>
            {% endfor %}
        </div>
    </div>
</div>
