url = "/kurzy"
layout = "default"
title = "Kurzy"

[collection categories]
handle = "Seminars\Category"

[collection seminars]
handle = "Seminars\Seminar"
==
<div class="container-fluid py-5 mb-xl-5 overflow-hidden" id="seminars">
    <div class="container-lg pt-xl-5">
        <h1 class="text-uppercase mb-4">
            {{ this.page.title }}
        </h1>

        <div class="row row-cols-1 g-4 row-cols-md-2 row-cols-lg-3 row-cols-xl-5">
            {% for category in categories %}
                <div class="col category">
                    <div class="title">
                        <a href="{{ 'seminars'|page }}/#{{ category.slug }}" class="bg-blue-light bg-blue-hover transition p-4 fw-bold text-white fs-24 d-flex position-relative align-items-center">
                            {{ category.title }}

                            <span class="mb-0 position-absolute end-0 bottom-0 d-flex">
                                <span class="bg-blue px-1 py-1 text-white">
                                    <i class="bi bi-arrow-right-short fss-28 lh-1 d-flex"></i>
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

{#        <div class="mt-4 mt-xl-5">#}
{#            Pokud stále váháte, které školení by pro vás bylo nejlepší, nahlédněte do podrobnějších popisů jednotlivých typů školení nebo nás#}
{#            <a href="{{ 'contact-us'|page }}">kontaktujte</a>.#}
{#        </div>#}

        <div class="mt-5 pt-xl-5">
            <p class="mb-0 text-center">
                <a href="{{ 'free-dates'|page }}" class="btn btn-blue btn-lg text-uppercase w-100 w-sm-auto">
                    volné termíny
                </a>
            </p>
        </div>
    </div>

    {% for category in categories %}
        {% set category_seminars = seminars.whereRelation("categories", "slug", category.slug).orderBy("position", "ASC").get() %}

        <div class="mt-5 pt-xl-5 banner mx-n3">
            <img src="{{ category.banner.path }}" alt="Banner" class="img-fluid h-sm-auto of-cover">
        </div>

        <div class="container-lg mt-5 pt-xl-5" id="{{ category.slug }}">
            <h2 class="h3 mb-4">
                {{ category.title }}
            </h2>

            <div class="richeditor">
                {{ category.text|raw }}
            </div>

            {% if category_seminars.count > 0 %}
                <div class="seminars row row-cols-1 g-4 row-cols-md-2 row-cols-lg-4 mt-3 mt-xl-4">
                    {% for seminar in category_seminars %}
                        <div class="seminar col">
                            <div class="title h-100">
                                <a href="{{ 'seminar'|page({slug: seminar.slug}) }}" class="{% if category.id == 1 %}bg-red{% else %}bg-yellow{% endif %} bg-blue-hover transition p-4 fw-bold text-white fs-24 d-flex position-relative align-items-center">
                                    <div class="d-flex flex-column">
                                        <span class="w-100">
                                            {{ seminar.title }}
                                        </span>

                                        {% if seminar.excerpt %}
                                            <span class="fs-16 fw-normal lh-sm mt-2 w-100">
                                                {{ seminar.excerpt }}
                                            </span>
                                        {% endif %}
                                    </div>

                                    <span class="mb-0 position-absolute end-0 bottom-0 d-flex">
                                        <span class="bg-blue px-1 py-1 text-white">
                                            <i class="bi bi-arrow-right-short fss-28 lh-1 d-flex"></i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
