{% set post = __SELF__.post %}

<div class="container-lg pt-xl-5">
    <h1 class="text-uppercase mb-4">
        {{ post.title }}
    </h1>

    <div class="richeditor">
        {% if post.content_misc %}
            {% for content in post.content_misc %}
                {% if content.type == "text" %}
                    {{ content.text|raw }}
                {% elseif content.type == "gallery" %}
                    {% if content.images %}
                        <p class="row row-cols-1 g-4 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4">
                            {% for image in content.images %}
                                <img src="{{ image|media }}" alt="{{ image.description }}" class="col img-fluid">
                            {% endfor %}
                        </p>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {{ post.content|raw }}
        {% endif %}
    </div>

    {% if post.video %}
        <div class="ratio ratio-16x9 mt-5">
            {{ post.video|raw }}
        </div>
    {% endif %}
</div>

{% if post.featured_images.count %}
    <div class="mt-5 pt-xl-5 gallery mx-n3">
        <div class="row row-cols-1 g-0 row-cols-sm-2">
            {% for image in post.featured_images.skip(1) %}
                <div class="col">
{#                    <img src="{{ image.thumb(961, 640, {mode: 'crop'}) }}" alt="{{ image.title }}" class="img-fluid">#}
                    <img src="{{ image.thumb(1400, 932, {mode: 'crop'}) }}" alt="{{ image.title }}" class="img-fluid">
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
